<div class="row">
  <div id="balance" class="jumbotron col-md-12 col-xs-12">
    <p><%= @user.name %>, you have <em><%= number_to_currency(@user.balance, unit:"KES ") %></em> on WPESA.</p>
  </div>
</div>
<div id="transactions" class="row">
  <div class="col-md-12 col-xs-12">
    <!-- Nav tabs -->
    <ul class="nav nav-pills">
      <li role="presentation" class="active"><a href="#receipts" aria-controls="receipts" role="tab" data-toggle="tab">Money Received</a></li>
      <li role="presentation"><a href="#sends" aria-controls="sends" role="tab" data-toggle="tab">Money Sent</a></li>
      <li role="presentation"><a href="#topups" aria-controls="topups" role="tab" data-toggle="tab">Top Ups</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
     <%= render 'transactions/receipts' %>
     <%= render 'transactions/sends' %>
     <%= render 'transactions/topups' %>
    </div>
  </div>
</div>
